APP_BASE_URL=http://localhost:8080

DB_HOST=db
DB_PORT=3306
DB_DATABASE=bitzee
DB_USERNAME=bitcoin
DB_PASSWORD=bitcoinpassword
DB_ROOT_PASSWORD=rootpassword

BTC_CLIENT_TYPE=blockchain
BTC_RPC_SCHEME=http
BTC_RPC_HOST=localhost
BTC_RPC_PORT=8332
BTC_RPC_USER=demo
BTC_RPC_PASS=demo
BTC_BLOCKCHAIN_IDENTIFIER=
BTC_BLOCKCHAIN_PASSWORD=
BTC_CALLBACK_URL=btc/bc_callback
BTC_MAX_WITHDRAWAL_NO_APPROVAL=10000000

GAME_DEMO_MODE=true



