.home-page {
  	/* GLOBAL STYLES
  -------------------------------------------------- */
  /* Padding below the footer and lighter body text */
  /* CUSTOMIZE THE NAVBAR
  -------------------------------------------------- */
  /* Special class on .container surrounding .navbar, used for positioning it into place. */
  /* Flip around the padding for proper display in narrow viewports */
  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  /* Carousel base class */
  /* Since positioning the image, we need to help out the caption */
  /* Declare heights because of positioning of img element */
  /* MARKETING CONTENT
  -------------------------------------------------- */
  /* Center align the text within the three columns below the carousel */
  /* Featurettes
  ------------------------- */
  /* Thin out the marketing headings */
  /* RESPONSIVE CSS
  -------------------------------------------------- */ }
  .home-page body {
    padding-bottom: 40px;
    color: #5a5a5a; }
  .home-page .navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20; }
  .home-page .navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0; }
  .home-page .navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px; }
  .home-page .navbar-wrapper .navbar .container {
    width: auto; }
  .home-page .carousel {
    height: 500px;
    margin-bottom: 60px; }
  .home-page .carousel-caption {
    z-index: 10; }
  .home-page .carousel .item {
    height: 500px;
    background-color: #777; }
  .home-page .carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px; }
  .home-page .marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center; }
  .home-page .marketing h2 {
    font-weight: normal; }
  .home-page .marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px; }
  .home-page .featurette-divider {
    margin: 80px 0;
    /* Space out the Bootstrap <hr> more */ }
  .home-page .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px; }
  @media (min-width: 768px) {
    .home-page {
      /* Navbar positioning foo */
      /* The navbar becomes detached from the top, so we round the corners */
      /* Bump up size of carousel content */ }
      .home-page .navbar-wrapper {
        margin-top: 20px; }
      .home-page .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px; }
      .home-page .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0; }
      .home-page .navbar-wrapper .navbar {
        border-radius: 4px; }
      .home-page .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4; }
      .home-page .featurette-heading {
        font-size: 50px; } }
  @media (min-width: 992px) {
    .home-page .featurette-heading {
      margin-top: 120px; } }

/*# sourceMappingURL=home-page.css.map */
