@font-face {
    font-family: 'lasvegas-jackpot';
    src: url('/assets/fonts/lasvegas-jackpot.woff');
    /*src: url('/assets/fonts/coffeetin_initials-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/coffeetin_initials-webfont.woff') format('woff'),
         url('/assets/fonts/coffeetin_initials-webfont.ttf') format('truetype'),
         url('/assets/fonts/coffeetin_initials-webfont.svg#coffeetininitials') format('svg');*/
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'FontAwesome';
  src: url('/dist/fonts/fontawesome-webfont.eot?v=4.1.0');
  src: url('/dist/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('/dist/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('/dist/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('/dist/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('/dist/fonts/glyphicons-halflings-regular.eot');
  src: url('/dist/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/dist/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/dist/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/dist/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

body {
  padding-top: 50px;
}

body {
    background-image: url('/assets/img/bg.png');
    background-repeat: repeat;
}

.modal-header {
    background-image: url(/assets/img/nav_bg.png);
    color:white;
}

.modal-footer {
    background-image: url(/assets/img/nav_bg.png);
}

.modal-body {
    background-image: url('/assets/img/bg.png');
    background-repeat: repeat;
    color:white;
}

.nav, .pagination, .carousel, .panel-title, a { cursor: pointer; }

.navbar-inverse .navbar-nav>li>a {
    color:white;
}

.navbar-inverse .navbar-brand {
    color:#126b33;
}

.title_text {
    font-family: 'lasvegas-jackpot', Arial, sans-serif;
    font-size: 50px;
    margin-top:10px;
    margin-bottom:10px;
    padding-bottom:0px;
}

.white-outline {
  border-style: solid;
    border-width: 5px;
    border-color: white;
    border-radius: 10px;
    margin-bottom: 15px;
}

.black-text {
  color:black;
}

.green-text {
  color:green;
}

.red-text {
  color:red;
}


.container h1,h4,.h4,h6, p {
    color:white;
}

.navbar-inverse .navbar-brand {
    font-family: 'lasvegas-jackpot', Arial, sans-serif;
    color:white;
    font-size:32px;
}

img .dice-img {
    margin-top:25px;
}



.dice-container {
  height:143px;
}


.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.spacer5 { height: 5px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer10 { height: 10px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer15 { height: 15px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer20 { height: 20px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer25 { height: 25px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer30 { height: 30px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer35 { height: 35px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer40 { height: 40px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer45 { height: 45px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer50 { height: 50px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer100 { height: 100px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer200 { height: 200px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }

.white-box {
    border-style: solid;
    border-width: 5px;
    border-color: #053c19;
    color:white;
    margin-bottom:15px;
    background-image: url(/assets/img/nav_bg.png);
}

.tab-box {
    border-style: solid;
    border-width: 5px;
    border-color: #053c19;
    color:white;
    margin-bottom:15px;
    padding:20px;
    padding-top:20px;
    background-image: url(/assets/img/nav_bg.png);
}

.btc_address {
    color:white;
}

.odds-table {
    /*background-color: white;*/
}

.overlay-text {
    color:black;
}

.navbar {
    background-image: url(/assets/img/nav_bg.png);
    color:white;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    color:white;
    background-color:rgba(0,0,0,0.3);
}


.winner-dice {
  padding-left: 40px;
}

.winner-text {
  font-family: 'lasvegas-jackpot', Arial, sans-serif;
    font-size: 80px;
    margin-bottom:0px;
    padding-bottom:0px;
}

.loser-text {
  font-family: 'lasvegas-jackpot', Arial, sans-serif;
}

.new-text {
  font-family: 'lasvegas-jackpot', Arial, sans-serif;
}

.winner-text-sm {
  font-size:40px;
}

.main-box {
  height:150px;
}

.winner-instructions {
  margin-top:0px;
  padding-top:0px;
}

.deposit-address {
    margin-top:20px;
    margin-bottom:0px;
    padding-bottom: 0px;
}

.game_hash {
    color:white;
}

.btn-wager {
  background-color: hsl(0, 100%, 33%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fe3838", endColorstr="#a80000");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fe3838), to(#a80000));
  background-image: -moz-linear-gradient(top, #fe3838, #a80000);
  background-image: -ms-linear-gradient(top, #fe3838, #a80000);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fe3838), color-stop(100%, #a80000));
  background-image: -webkit-linear-gradient(top, #fe3838, #a80000);
  background-image: -o-linear-gradient(top, #fe3838, #a80000);
  background-image: linear-gradient(#fe3838, #a80000);
  border-color: #a80000 #a80000 hsl(0, 100%, 26%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.46);
  -webkit-font-smoothing: antialiased;
}

.btn-roll {
    background-color: hsl(42, 100%, 33%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fec338", endColorstr="#a87500");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fec338), to(#a87500));
  background-image: -moz-linear-gradient(top, #fec338, #a87500);
  background-image: -ms-linear-gradient(top, #fec338, #a87500);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fec338), color-stop(100%, #a87500));
  background-image: -webkit-linear-gradient(top, #fec338, #a87500);
  background-image: -o-linear-gradient(top, #fec338, #a87500);
  background-image: linear-gradient(#fec338, #a87500);
  border-color: #a87500 #a87500 hsl(42, 100%, 26%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.46);
  -webkit-font-smoothing: antialiased;
}

.btn-collect {
  background-color: hsl(195, 60%, 35%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2d95b7", endColorstr="#23748e");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#2d95b7), to(#23748e));
  background-image: -moz-linear-gradient(top, #2d95b7, #23748e);
  background-image: -ms-linear-gradient(top, #2d95b7, #23748e);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2d95b7), color-stop(100%, #23748e));
  background-image: -webkit-linear-gradient(top, #2d95b7, #23748e);
  background-image: -o-linear-gradient(top, #2d95b7, #23748e);
  background-image: linear-gradient(#2d95b7, #23748e);
  border-color: #23748e #23748e hsl(195, 60%, 32.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
  -webkit-font-smoothing: antialiased;
}


pre {
    -moz-tab-size:    4;
    -o-tab-size:      4;
    -webkit-tab-size: 4;
    -ms-tab-size:     4;
    tab-size:         4;
}

.game-info-box {
  margin-bottom:5px;
}

input {
  color:black;
}

.seed-link a {
  color:white;
}

.no-top-or-bottom-marg {
  margin-bottom: 0px;
  margin-top:0px;
}

.dice-container2 {
  padding-left:100px;
}

.dice {
    
    background-repeat: no-repeat;
    display: block;
    cursor: pointer; 
    float:left;
}

.dice-10 {
    background-image: url(/assets/img/dice/10.png);
}

.dice-9 {
    background-image: url(/assets/img/dice/9.png);
}

.dice-a {
    background-image: url(/assets/img/dice/A.png);
}


.dice-j {
    background-image: url(/assets/img/dice/J.png);
}

.dice-k {
    background-image: url(/assets/img/dice/K.png);
}

.dice-q {
    background-image: url(/assets/img/dice/Q.png);
}

.selected {
    -moz-box-shadow:    inset 0 0 10px #FF0000;
   -webkit-box-shadow: inset 0 0 10px #FF0000;
   box-shadow:         inset 0 0 10px #FF0000;
}


@media all and (min-width: 1200px) {
  .dice {
    width: 80px;
    height: 80px;
    margin-top:10px;
    margin-right:10px;
    background-size: 80px 80px;
  }

  .dice-container2 {
    padding-left:55px;
  }

  .result {
    width: 50px;
    height: 50px;
    margin-top:40px;
    margin-right:10px;
    background-size: 50px 50px;
  }

  .playingCards.inText .after-card span.rank {
    font-size: 6em;
    margin-bottom:10px;
  }

  .loser-text {
    font-size: 80px;
    text-align: center;
    margin-left: 30px;
  }

  .new-text {
    font-size:80px;
  }


}


@media all and (min-width: 992px) and (max-width: 1199px) {
  .dice {
    width: 70px;
    height: 70px;
    margin-top:10px;
    margin-right:10px;
    background-size: 70px 70px;
  }

  .dice-container2 {
    padding-left:30px;
  }

  .result {
    width: 35px;
    height: 35px;
    margin-top:40px;
    margin-right:10px;
    background-size: 35px 35px;
  }

  .loser-text {
    font-size: 60px;
    text-align: center;
    margin-left: 30px;
  }

  .wager-text {
    font-size:14px;
  }

  .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding:5px;
  }

  .new-text {
    font-size:70px;
    margin-bottom: 0px;
  }

}


@media all and (min-width: 768px) and (max-width: 991px) {
  .dice {
    width: 100px;
    height: 100px;
    margin-top:0px;
    margin-right:10px;
    background-size: 100px 100px;
  }

  .dice-container2 {
    padding-left:80px;
  }

  .result {
    width: 60px;
    height: 60px;
    margin-top:30px;
    margin-right:10px;
    background-size: 60px 60px;
  }

  .loser-text {
    font-size: 80px;
    text-align: center;
    margin-left: 30px;
  }

  .playingCards.inText .after-card span.rank {
    font-size: 8em;
    margin-bottom:10px;
  }

  .new-text {
    font-size:80px;
  }
}

@media all and (min-width:620px) and (max-width: 767px)  {
  .dice {
    width: 90px;
    height: 90px;
    margin-top:0px;
    margin-right:10px;
    background-size: 90px 90px;
  }

  .dice-container2 {
    padding-left:80px;
  }

  .result {
    width: 60px;
    height: 60px;
    margin-top:30px;
    margin-right:10px;
    background-size: 60px 60px;
  }

  .loser-text {
    font-size: 80px;
    text-align: center;
    margin-left: 30px;
  }

  .new-text {
    font-size:80px;
  }
}

@media all and (min-width: 538px) and (max-width: 619px)   {
  .dice {
    width: 80px;
    height: 80px;
    margin-top:0px;
    margin-right:10px;
    background-size: 80px 80px;
  }
  .dice-container2 {
    padding-left:50px;
  }

  .result {
    width: 50px;
    height: 50px;
    margin-top:30px;
    margin-right:10px;
    background-size: 50px 50px;
  }

  .loser-text {
    font-size: 70px;
    text-align: center;
    margin-left: 30px;
  }

  .new-text {
    font-size:70px;
  }

  
}


@media all and (min-width: 443px) and (max-width: 537px)   {
  .dice {
    width: 65px;
    height: 65px;
    margin-top:0px;
    margin-right:10px;
    background-size: 65px 65px;
  }
  .dice-container2 {
    padding-left:50px;
  }

  .result {
    width: 40px;
    height: 40px;
    margin-top:40px;
    margin-right:10px;
    background-size: 40px 40px;
  }

  .loser-text {
    font-size: 70px;
    text-align: center;
    margin-left: 30px;
  }

  .new-text {
    font-size:70px;
  }

  
}

@media all and (min-width: 404px) and (max-width: 442px)   {

  .dice {
    width: 60px;
    height: 60px;
    margin-top:0px;
    margin-right:10px;
    background-size: 60px 60px;
  }
  .dice-container2 {
    padding-left:15px;
  }

  .result {
    width: 30px;
    height: 30px;
    margin-top:30px;
    margin-right:10px;
    background-size: 30px 30px;
  }

  .loser-text {
    font-size: 50px;
    text-align: center;
    margin-left: 30px;
  }

  .new-text {
    font-size:70px;
    margin-bottom: 0px;
  } 
}
.outline {
  border:thin red solid;
}

@media all and  (max-width: 403px)   {

  .dice {
    width: 45px;
    height: 45px;
    margin-top:0px;
    margin-right:10px;
    background-size: 45px 45px;
  }
  .dice-container2 {
    padding-left:20px;
  }

  .result {
    width: 25px;
    height: 25px;
    margin-top:30px;
    margin-right:5px;
    background-size: 25px 25px;
  }

  .loser-text {
    font-size: 40px;
    text-align: center;
    margin-left: 30px;
  }

  .new-text {
    font-size:70px;
    margin-bottom:0px;
  } 

  .btn {
    padding-left:0px;
    padding-right:0px;
  }
}
.outline {
  border:thin red solid;
}

.account-settings {
  color:black !important;
}